/* default styles */

.RightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.r-button {
  height: 3rem;
  width: 80%;
  align-self: center;
}

/* responsive styles for screens smaller than 768px */

@media screen and (max-width: 767px) {
  .RightSide {
 display: none;
  }
  .r-button {
    display: none;
    width: 100%;
  }
}

/* responsive styles for screens larger than 768px */

@media screen and (min-width: 768px) {
  .RightSide {
    display: grid;
    flex-direction: column;
    gap: 2rem;
  }


  .r-button {
    display: none;

  }
}

@media screen and (min-width: 1024px) {

  .RightSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2%;
    gap: 2rem;
  }
  
  .r-button {
    display: block;
    height: 3rem;
    width: 80%;
    align-self: center;
  }
  
  
}